#app {
  width: 100%;
  display: flex;
}
/* main.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 10px;
  background-color: #000000;
}

header img {
  border: none;
  width: 600px;
}
header a{
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin: 0 50px 50px 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
header a:visited {
  text-decoration: none;
  color:#ffffff;
  opacity: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
}

#left-panel {
  background-color: #000000;
  opacity: 100%;
  flex-basis: 5%;
  align-items: center;
}

#central-panel {
  background:rgba(225, 225, 225, 1.0);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  flex-basis: 90%;
}

#right-panel {
  background-color: #000000;
  opacity: 100%;
  flex-basis: 5%;
  align-items: center;
}

#footer {
  background-color: #2e2a2a;
  opacity: 0%;
  flex-basis: 100%;
  align-items: left;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  text-align: center;
  color: #000000;
}

h1 {
  font-family: 'Kalam', cursive;
  font-size: 45px;
  text-align:center;
  margin: 20px 0;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
  margin: 20px 0;
}


p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  padding: 0 20px;
}

a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0 20px 0 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}

a:visited {
  text-decoration: none;
  color:blue;
  opacity: 100%;
}

a:hover {
  color: #df1e1e;
}


/*@media (max-width: 1024px) {

  h1,
  #welcome {
    font-size: 2rem;
  }

  h2 {
    font-size: 20px;
  }

  .fa-3x {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  #center-panel {
    flex-basis: 100%;
  }

  a {
    font-size: 1rem;
  }

  #right-panel {
    display: none;
  }
}*/
